@import "quasar.variables";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $dark-page;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1B2038;
}

::-moz-selection {
  background: $primary;
  color: white;
}

::selection {
  background: $primary;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.q-btn:not(.q-btn--round) {
  border-radius: 10px;
  font-weight: 400;
  padding: 8px 22px;
  &:before {
    box-shadow: $card-shadow;
  }
  & i {
    font-size: 18px !important;
    margin-right: 8px;
  }
}

.q-btn--flat {
  &:before {
    box-shadow: none !important;
  }
}

.q-btn--round {
  &:before {
    box-shadow: $card-shadow;
  }
}

.q-avatar {
  background: $avatar;
  box-shadow: $card-shadow;
}

.q-toolbar {
  color: white;
  background: $bg !important;
}

.q-tabs {
  height: 69px;
  background: $gradient;
  border-radius: 10px;
  box-shadow: $card-shadow;
  border: 1px solid rgba(255,255,255,0.1);
  &.f {
    background: $gradient2;
  }
  & .q-tab,
  & .q-item {
    height: 67px;
    padding: 0 32px;
    align-items: center;
  }
}

.q-card {
  cursor: default;
  transition: all 0.5s ease !important;
  background: $gradient;
  border-radius: 10px;
  box-shadow: $card-shadow;
  border: 1px solid rgba(255,255,255,0.1);
  & .q-card__section {
    padding: 24px;
    & .q-img {
      box-shadow: $card-shadow;
    }
  }
  & .hover {
    cursor: pointer;
    & .hover-inner {
      opacity: 0;
      transition: all .3s ease;
    }
  }
  & svg {
    transition: all 0.5s ease;
  }
  &:hover {
    transition: all 0.5s ease !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    & svg {
      transition: all 0.5s ease;
    }
    & .hover {
      & .hover-inner {
        opacity: 1;
        transition: all .3s ease;
      }

    }
  }
}
.rounded-borders {
  border-radius: 10px !important;
}

.text-h5, h5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-h6, h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bg-menu {
  background: $menu;
}

.q-page.bg-dark {
  background: $bg !important;
}

.q-menu {
  min-width: 280px;
  background: $menu;
  border-radius: 10px;
  box-shadow: $card-shadow;
  & > .q-item {
    color: $dark;
    min-height: 34px;
    height: 34px;
    font-size: 12px;
  }
  & > .menu-btn {
    height: 34px;
    color: $dark;
    & .q-btn {
      font-size: 12px;
    }
  }
}

.q-list {
  & .q-item {
    background: $dark-page;
    font-weight: 300;
    border-bottom: 1px solid $menu;
    & .q-item__section--side {
      border-radius: 100px;
      width: 31px;
      height: 31px;
      padding: 0;
      align-items: center;
    }
  }
}

.q-parallax__content > .parallax-inner {
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & > div {
    max-width: 830px;
    text-align: center;
    color: $white;
  }
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

.gradient-field {
  & .q-field__control {
    background: #493C67 !important;
    border-radius: 10px;
  }
  & .q-field__prepend {
    color: $white !important;
  }
  &.q-field--highlighted {
    & .q-field__control {
      box-shadow: none;
    }
    & .q-field__native {
      color: $white !important;
    }
  }
}

.q-carousel {
  border-radius: 10px;
  & .q-carousel__thumbnail {
    position: relative;
    &:before {
      display: inline-block;
      background: black;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
    }
  }
}

.round-shadow {
  position: relative;
  width: 70px;
  cursor: pointer;
  transition: all .3s ease;
  & svg {
    z-index: 1;
  }
  &:hover {
    & svg {
      transition: all .3s ease;
      fill: $white;
    }
    &:before {
      background: $accent;
      transition: all .3s ease;
    }
  }
  &:before {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    filter: blur(14px);
    background: $primary;
    position: absolute;
    top: 0;
    left: 23px;
    transition: all .3s ease;
  }
}
