@import "quasar.variables";

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: $newWhite;
}

::-webkit-scrollbar-thumb {
  background-color: $grey;
}

::-moz-selection {
  background: $primary;
  color: $newWhite;
}

::selection {
  background: $primary;
  color: $newWhite;
}

body {
  color: $black;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.text-h3, h3 {
  font-weight: 900;
}

.text-h5, h5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-h6, h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.on-right {
  margin-left: 8px;
}

.on-left {
  margin-right: 8px;
}

.rounded-borders {
  border-radius: 18px !important;
}

.relative-position {
  z-index: 2;
}

.text-black {
  color: $black !important;
}

.no-shrink {
  flex-shrink: 0;
}

.q-btn {
  border-radius: 200px;
  font-weight: 400;
  padding: 8px 22px;
  &:before {
    box-shadow: none;
  }
  & i{
    font-size: 18px !important;
  }
}

.q-avatar {
  background: $avatar3;
  outline: 1px solid $black;
}

.q-tabs {
  border-radius: 200px;
  outline: 1px solid $black;
  & .q-tab,
  & .q-item {
    height: 67px;
    padding: 0 32px;
  }
}

.q-card {
  cursor: default;
  transition: all 0.5s ease !important;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  & .q-card__section {
    padding: 44px;
    & .q-img {
      box-shadow: none;
    }
  }
  & .hover {
    cursor: pointer;
    border: 1px solid $black;
    & .hover-inner {
      opacity: 0;
      transition: all .3s ease;
    }
  }
  & svg {
    transition: all 0.5s ease;
  }
  &:hover {
    transition: all 0.5s ease !important;
    & svg {
      transition: all 0.5s ease;
    }
    & .hover {
      & .hover-inner {
        background: $avatar2;
        opacity: 1;
        transition: all .3s ease;
      }

    }
  }
}

.q-menu {
  min-width: 280px;
  border-radius: 20px;
  box-shadow: none;
  background: #FFFFFFCD;
  backdrop-filter: blur(5px);
  border: 1px solid $newWhite;
}

.q-list {
  & .q-item {
    & .q-item__section--side {
      border-radius: 100px;
      width: 31px;
      height: 31px;
      padding: 0;
      align-items: center;
    }
  }
}

.q-select {
  & .q-field__control {
    border-radius: 10px;
  }
  & .q-field__prepend {
    color: $black !important;
  }
}

.q-carousel {
  border-radius: 10px;
  background: transparent;
  &__navigation {
    .q-btn {
      background: transparent !important;
      color: $grey !important;
    }
  }
}

.q-page,
.q-toolbar {
  background-size: 400px;
  background-color: $newWhite;
  background-image: url("/images/Bitmap.png");
  background-repeat: repeat;
  background-attachment: fixed;
  animation: shimmer .3s step-start infinite;
  background-position: center;
}

@keyframes shimmer {
  0% {
    background-size: 400px;
  }
  50% {
    background-size: 350px;
  }
  100% {
    background-size: 400px;
  }
}

.bg-gradient {
  background: $avatar3 !important;
  outline: 1px solid $black !important;
  color: $black !important;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 24px;
    max-width: 700px;
  }
  .text-h3, h3 {
    font-size: 38px;
  }
}
