@import "colors";
@import "reboot";

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.hero-section {
  padding: 48px;
  position: relative;
  & * {
    z-index: 1;
  }
}

.element-top,
.element-bottom {
  animation: shimmer 3s linear infinite;
  width: 340px;
  height: 340px;
  z-index: 0;
  filter: blur(50px);
}

.element {
  &-top {
    top: -140px;
    left: calc(50% - 200px);
  }
  &-right {
    right: -140px;
  }
}

.tag-section {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  & .q-chip {
    cursor: pointer;
    margin: 0;
  }
}

.container {
  padding: 48px;
}

@keyframes shimmer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .text-h1, h1 {
    font-size: 48px;
  }
  .container {
    padding: 16px;
  }
  .hero-section {
    padding: 16px;
  }
}
