@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
$typography-font-family : 'Unbounded', sans-serif !default;

//$newWhite  : #171618;
//$grey      : #7b7b80;
//$black     : #E8E8E8;
$newWhite  : #E8E8E8;//use
$grey      : #818080;//use
$black     : #363636;//use
$dark      : #363636;
$dark-page : #1e1d1d;
$primary   : #d099e3;//use
$secondary : #D0719A;
$accent    : #F29D89;//use
$positive  : #48A575;
$negative  : #D8788A;
$info      : #2FA9F9;
$warning   : #F2C94C;

$avatar2: linear-gradient(147deg, #A36ADD50, #D0719A50, #F29D8950, #EDD4C350);
$avatar3: linear-gradient(147deg, #A36ADD, #D0719A, #F29D89, #EDD4C3);


